/* style sheet start here */
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

/* navigation bar start here */
.header {
    background-color: #FFF8F3;
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 550px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding-top: 10px;
}

.nav-title {
    padding-top: 20px;
}

.primary-color {
    color: #FD6E0A;
}

div > ul {
    display: flex;
    list-style: none;
    padding: 10px;
    align-items: center;
}

.item {
    padding: 0 10px;
}

.primary-btn {
    /* margin: 18px 0; */
    height: 30px;
    width: 100px;
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;

}

.btn {
    background-color: white;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    margin: 0px 5px;
    font-weight: 300;

}

.button {
    font-size: 15px;
    font-weight: 300px;
    margin: 10px 10px 0px 0px;
    width: 150px;
}

/* bannner style start here */
.para {
    color: #757575;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 500px;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px 0px 150px;
}

.profile-pic {
    width: 300px;
}

.para {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.banner > h1, h3{
    margin: 20px 0px;
}
/* main style */
.about{
    text-align: center;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin: 130px 0px;
}
.about-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px;
}
.about-discription{
    color:  #757575;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: 20px;
}
main{
    max-width: 900px;
    margin: 0px auto;
}
.about-ingo-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px ;
    /* gap: 40px; */
}
.info-title{
   
    color: #757575;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.info-discription{
    
    margin-top: 15px ;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

/* what I do section */


.section-title{
    text-align: center;
    color:  #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px ;
}
.section-discription{
    color: #757575;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    width: 900px;
}
.section-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    margin: 50px 10px ;
}
.skill{
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 15px 10px 30px 0px rgba(0, 0, 0, 0.06);
    text-align: left;
    
}
.skill-title{
    color:  #181818;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}
.skill-description{
    text-align: left;
    color: #757575;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    width: 150px;
    margin-left: 20px;
}
.section-image{
    width: 40.926px;
    height: 35.731px;
    margin: 10px 20px ;
    
}
 /* resume section */
 
.section-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    gap: 30px;
}
.resume-title{
    color:  black;
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
}
.under-title{
    color:  #757575;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 200;
}
.resume-description{
    color:  #757575;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin: 10px  0px;
    text-align: left;
    margin-bottom: 20px;
}
.cv{
    text-align: center;
    margin: 50px 0px;
}
/* footer start here */

.footer-container{
   height: 500px;
   background-color: #FFF8F3;
   display: flex;
   justify-content: space-around;
   padding-top: 50px;
}
.footer-title{
    color:  #181818;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
}
.footer-dec{
    color: #474747;
    font-size: 13px;
    font-weight: 100;
    max-width: 450px;
}

.images{
    margin-top: 20px;
}
.footer-form > input ,textarea{
    display: block;
    padding: 10px 50px 10px 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
}